<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-inner clearfix">
        <div class="col-md-3">
          <div class="footer-section">
            <h3>Latest Form Blog</h3>
            <h5>Post Title</h5>
            <span>Monday 4th march 2017</span>
            <p class="decription">
              Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show. How the type will look before the end product is available. How the type will look before the end product is available.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-section">
            <h3>Latest Form Blog</h3>
            <h5>Post Title</h5>
            <span>Monday 4th march 2017</span>
            <p class="decription">
              Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show. How the type will look before the end product is available. How the type will look before the end product is available.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-section">
            <h3>Latest Form Blog</h3>
            <h5>Post Title</h5>
            <span>Monday 4th march 2017</span>
            <p class="decription">
              Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show. How the type will look before the end product is available. How the type will look before the end product is available.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-section">
            <h3>Latest Form Blog</h3>
            <h5>Post Title</h5>
            <span>Monday 4th march 2017</span>
            <p class="decription">
              Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show. How the type will look before the end product is available. How the type will look before the end product is available.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-out">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright">Copyright &copy 2016 Sedin Technology Private Limited- All Right Reserved</p>
        </div>
        <div class="col-md-6">
          <p class="designed-by">Designed By : Robin Thomas</p>
        </div>
      </div>
    </div>
  </div>
</footer>