<section class="content">
  <div class="social-media">
    <div class="facebook">
      <img src="assets/fb.png">
    </div>
    <div class="twitter">
      <img src="assets/twit.png">
    </div>
    <div class="gmail">
      <img src="assets/gmail.png">
    </div>
    <div class="linkdin">
      <img src="assets/link.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="cover-img style-img">
          <img src="assets/mac-desk.png">
        </div>
      </div>
      <div class="col-md-6">
        <div class="cover-text">
          <h1>World Wide Web</h1>
          <p>
            Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available. Lorem Ipsum is a dummy text that is mainly used by the printing and design industry.
          </p>
          <button>READ MORE >></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="users-icon">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="cont-titles"> 
          <h3>User Controller</h3>
        </div>
        <p class="decription">
          Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.
        </p>
      </div>
      <div class="col-md-3">
        <div class="users-icon">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
        <div class="cont-titles"> 
          <h3>World Wide Web</h3>
        </div>
        <p class="decription">
          Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.
        </p>
      </div>
      <div class="col-md-3">
        <div class="users-icon">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <div class="cont-titles"> 
          <h3>Privacy Settings</h3>
        </div>
        <p class="decription">
          Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.
        </p>
      </div>
      <div class="col-md-3">
        <div class="users-icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="cont-titles"> 
          <h3>Event Management</h3>
        </div>
        <p class="decription">
          Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.
        </p>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
	.style-img img{
		display: block;
		width: 60%;
		margin: 20px auto;
	}
</style>